* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  background-color: #000000;
  width: 100vw;
  height: 100vh;
}

.text-input-area {
  padding: 8vh 0 15vh 0;
  display: block;
}

.map-area {
  height: 60vh;
  width: 100vw
}

#text-field-location {
  color: white;
  border-bottom: 2px solid grey;
  width: 50vw;
  display: block !important;
}

#text-field-condition {
  color: white;
  border-bottom: 2px solid grey;
  width: 50vw;
  display: block;
}

#text-field-label {
  color: grey;
}